#header {
    height: 60px;
    background-color: palevioletred;
}

#navbar li {
            padding-left: 1em;       
       }
body {
    font-size: 0.8em;
}

#buyme, #footer {    
    background-color: palevioletred;
}